.jumbotron-fluid{
  background-color: #ff8200;
  text-align: center;
}
.jumbotron-fluid h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  display: inline;
}
body{
  background-color: #ffc100;
}
.container-fluid{
  background-color: #f7df9e;
  margin: 50px;
  border: solid 2px black;
}
form h3{
  font-weight: lighter;
  text-decoration: underline;
}
h2 .container-fluid{
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
}
img{
  width: 250px;
}
.centre{
  text-align: center;
}